<ghgvc>
  <options>
    <storage>TRUE</storage>
    <flux>TRUE</flux>
    <disturbance>FALSE</disturbance>
    <co2>TRUE</co2>
    <ch4>TRUE</ch4>
    <n2o>TRUE</n2o>
    <T_A>100</T_A>
    <T_E>50</T_E>
    <r>0</r>
  </options>
  <ecosystem_data>
    <pft>
      <name>Tropical Forest</name>
      <category>native</category>
      <T_A>100</T_A>
      <T_E>50</T_E>
      <r>0</r>
      <OM_ag>248</OM_ag>
      <OM_root>51.2</OM_root>
      <OM_wood>20</OM_wood>
      <OM_litter>10</OM_litter>
      <OM_peat>0</OM_peat>
      <OM_SOM>88.965517</OM_SOM>
      <fc_ag_wood_litter>0.52</fc_ag_wood_litter>
      <fc_root>0</fc_root>
      <fc_peat>0</fc_peat>
      <fc_SOM>0</fc_SOM>
      <Ec_CO2>35.909</Ec_CO2>
      <Ec_CH4>0.294</Ec_CH4>
      <Ec_N2O>0.0059</Ec_N2O>
      <k_ag_wood_litter>0.167</k_ag_wood_litter>
      <k_root>0.04</k_root>
      <k_peat>0</k_peat>
      <k_SOM>0.4</k_SOM>
      <termite>3</termite>
      <Ed_CO2_ag_wood_litter>41.666667</Ed_CO2_ag_wood_litter>
      <Ed_CO2_root>41.666667</Ed_CO2_root>
      <Ed_CO2_peat>45</Ed_CO2_peat>
      <Ed_CO2_litter>48.33333</Ed_CO2_litter>
      <Ed_CH4_ag_wood_litter>0.0275</Ed_CH4_ag_wood_litter>
      <Ed_CH4_root>0</Ed_CH4_root>
      <Ed_CH4_peat>0</Ed_CH4_peat>
      <Ed_CH4_litter>0</Ed_CH4_litter>
      <Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
      <Ed_N2O_root>0</Ed_N2O_root>
      <Ed_N2O_peat>0</Ed_N2O_peat>
      <Ed_N2O_litter>0</Ed_N2O_litter>
      <F_CO2>-150.5667</F_CO2>
      <F_CH4>-0.225844</F_CH4>
      <F_N2O>0.0816074</F_N2O>
      <rd>0</rd>
      <tR>23</tR>
      <FR_CO2>-127.3521</FR_CO2>
      <FR_CH4>-0.225844</FR_CH4>
      <FR_N2O>0.0309627</FR_N2O>
      <dfc_ag_wood_litter>0.36</dfc_ag_wood_litter>
      <dfc_root>0</dfc_root>
      <dfc_peat>0</dfc_peat>
      <dk_ag_wood_litter>0.167</dk_ag_wood_litter>
      <dk_root>0.04</dk_root>
      <dk_peat>0</dk_peat>
      <age_transition>-9999</age_transition>
      <new_F_CO2>-9999</new_F_CO2>
      <new_F_CH4>-9999</new_F_CH4>
      <new_F_N2O>-9999</new_F_N2O>
      <F_anth>0</F_anth>
      <ac_yield>-9999</ac_yield>
      <con_energy>-9999</con_energy>
      <eth_yield>-9999</eth_yield>
      <G_C02>-9999</G_C02>
      <sw_radiative_forcing>-0.387200238397716</sw_radiative_forcing>
      <latent>0.06180009880958</latent>
      <sensible>0.327720400257219</sensible>
      <max_ghgv>FALSE</max_ghgv>
      <eco_copy>1</eco_copy>
      <reg_ghgv>FALSE</reg_ghgv>
    </pft>
    <pft>
      <name>Misty Mountain Top</name>
      <category>native</category>
      <T_A>100</T_A>
      <T_E>50</T_E>
      <r>0</r>
      <OM_ag>208</OM_ag>
      <OM_root>5</OM_root>
      <OM_wood>2</OM_wood>
      <OM_litter>1</OM_litter>
      <OM_peat>10</OM_peat>
      <OM_SOM>8</OM_SOM>
      <fc_ag_wood_litter>2</fc_ag_wood_litter>
      <fc_root>0</fc_root>
      <fc_peat>0</fc_peat>
      <fc_SOM>0</fc_SOM>
      <Ec_CO2>30</Ec_CO2>
      <Ec_CH4>0.84</Ec_CH4>
      <Ec_N2O>0.08</Ec_N2O>
      <k_ag_wood_litter>0.6</k_ag_wood_litter>
      <k_root>0.04</k_root>
      <k_peat>0</k_peat>
      <k_SOM>0.4</k_SOM>
      <termite>3</termite>
      <Ed_CO2_ag_wood_litter>41.666667</Ed_CO2_ag_wood_litter>
      <Ed_CO2_root>41.666667</Ed_CO2_root>
      <Ed_CO2_peat>45</Ed_CO2_peat>
      <Ed_CO2_litter>48.33333</Ed_CO2_litter>
      <Ed_CH4_ag_wood_litter>0.0275</Ed_CH4_ag_wood_litter>
      <Ed_CH4_root>0</Ed_CH4_root>
      <Ed_CH4_peat>0</Ed_CH4_peat>
      <Ed_CH4_litter>0</Ed_CH4_litter>
      <Ed_N2O_ag_wood_litter>0</Ed_N2O_ag_wood_litter>
      <Ed_N2O_root>0</Ed_N2O_root>
      <Ed_N2O_peat>0</Ed_N2O_peat>
      <Ed_N2O_litter>0</Ed_N2O_litter>
      <F_CO2>-150.5667</F_CO2>
      <F_CH4>-0.225844</F_CH4>
      <F_N2O>0.0816074</F_N2O>
      <rd>0</rd>
      <tR>23</tR>
      <FR_CO2>-199.3</FR_CO2>
      <FR_CH4>-0.93</FR_CH4>
      <FR_N2O>0.0999</FR_N2O>
      <dfc_ag_wood_litter>0.36</dfc_ag_wood_litter>
      <dfc_root>0</dfc_root>
      <dfc_peat>0</dfc_peat>
      <dk_ag_wood_litter>0.167</dk_ag_wood_litter>
      <dk_root>0.04</dk_root>
      <dk_peat>0</dk_peat>
      <age_transition>-9999</age_transition>
      <new_F_CO2>-9999</new_F_CO2>
      <new_F_CH4>-9999</new_F_CH4>
      <new_F_N2O>-9999</new_F_N2O>
      <F_anth>0</F_anth>
      <ac_yield>-9999</ac_yield>
      <con_energy>-9999</con_energy>
      <eth_yield>-9999</eth_yield>
      <G_C02>-9999</G_C02>
      <sw_radiative_forcing>-0.387200238397716</sw_radiative_forcing>
      <latent>0.06180009880958</latent>
      <sensible>0.327720400257219</sensible>
      <max_ghgv>FALSE</max_ghgv>
      <eco_copy>1</eco_copy>
      <reg_ghgv>FALSE</reg_ghgv>
    </pft>
  </ecosystem_data>
</ghgvc>